@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.item-details {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__header {
        @include divider-bottom;
    }

    &__content {
        @extend .item-details;
        padding: $mobile-margin;
        gap: $mobile-margin;

        @include tablet {
            flex-direction: row;
            padding: $tablet-margin;
            gap: 0;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: $mobile-margin;

        @include tablet {
            @include divider-right-thick;
            width: 50%;
            gap: $tablet-margin;
            padding-right: $tablet-margin;
            justify-content: space-between;
        }

        @include desktop {
            width: 55%;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: $mobile-margin;

        @include tablet {
            width: 50%;
            gap: $tablet-margin;
            padding-right: $tablet-margin;
            justify-content: space-between;
        }

        @include desktop {
            width: 55%;
        }
    }

    &__stock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include tablet {
            padding: 0 $tablet-margin;
            gap: $tablet-margin;
        }
    }

    &__content-header {
        color: $secondary-slate;
    }

    &__text {
        padding: 0;
    }

    &__tag {
        @include instock;
    }

    &__location {
        @include tablet {
            padding: 0 $tablet-margin;
        }
    }
}