@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.edit-inventory {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $background-page;
    padding: 0 $mobile-margin;
    gap: $mobile-margin;

    @include tablet {
        padding: 0 $tablet-margin;
        gap: $alt-mobile-margin;
    }

    //TODO: INCLUDE DESKTOP MARGINS

    &__page {
        // @include page-content;
        @include page-shadow;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.wrapper {
    @include tablet {
        width: 100%;
        display: flex;
    }

    &__left {
        @include tablet {
            width: 50%;
            @include divider-right-thick;
        }
    }

    &__right {
        @include tablet {
            width: 50%;
        }
    }
}

.click {
    @include tablet {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

}

.edit-inventory {
    &__page {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $background-page;

        @include tablet {
            // padding: 0 $tablet-margin;
        }

        @include desktop {
            // padding: 0 $desktop-margin;
        }
    }

    &__details {
        @include page-content;
        margin: $mobile-margin;
    }

    &__itemDetails {
        @include divider-top-thick;
        padding: $mobile-margin;

        &--header {
            padding-bottom: $mobile-margin;
        }
    }

    &__itemAvail {
        @include divider-top-thick;
        padding: $mobile-margin;

        &--header {
            padding-bottom: $mobile-margin;
        }
    }

}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: $secondary-cloud;
}