@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.btn {
    @include blue-btn-white-text;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $mobile-btn-h;
    cursor:pointer;

    &--nav {
        @include white-btn;
    }

    &--circle {
        min-width: $mobile-btn-h;
        min-height: $mobile-btn-h;
        max-height: $mobile-btn-h;
        max-width: $mobile-btn-h;

        @include tablet {
            min-width: $mobile-btn-h;
            max-width: none;
        }
    }

    &--text {
        width: 100%;
        @include blue-btn-white-text;
        color: $primary-white;
        font-weight: 700;
    }

    &--text-secondary {
        @include white-btn-gray-border;
        width: 100%;
        color: $secondary-slate;
        font-weight: 700;
    }

    &__text {
        display: none;

        @include tablet {
            @include p2;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.25rem;
            color: $primary-white;
            font-weight: 700;
        }
    }
}