@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.btn {
    @include blue-btn-white-text;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $mobile-btn-h;

    &--circle {
        min-width: $mobile-btn-h;
        min-height: $mobile-btn-h;
        max-height: $mobile-btn-h;
        max-width: $mobile-btn-h;
    }
}