@use 'variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}

/*typography mixins*/
@mixin p1 {
  font-size: .9375rem;
  line-height: 1.625rem;
  font-family: 'Titillium Web', 'Times New Roman', Times, serif;
  font-weight: 400;
  color: $primary-black;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@mixin p2 {
  font-size: .8125rem;
  line-height: 1.25rem;
  font-family: 'Titillium Web', 'Times New Roman', Times, serif;
  font-weight: 400;
  color: $primary-black;

  @include tablet {
    font-size: .875rem;
    line-height: 1.375rem;
  }
}

/*mixin for main page foreground design */
@mixin page-content {
  background-color: $primary-white;
  border-radius: 0.25rem;
  position: relative;
  top: -2rem;
  margin: 0rem 1rem;

  //TODO: include desktop if needed!
}

/*design-related mixins*/
/*page outline/shadow*/
@mixin page-shadow {
  box-shadow: .125rem .125rem .125rem .125rem rgb(0 0 0 / 3%);
}

/*tag design mixins*/
@mixin instock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $mobile-tag-h;
  padding: 0 0.5rem;
  background-color: $label-bckgd-green;
  border-radius: $border-radius;
  color: $label-green;
  font-weight: 700;

  @include tablet {
    height: $tablet-desktop-tag-h;
  }
}

@mixin outofstock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $mobile-tag-h;
  padding: 0 0.5rem;
  background-color: $label-bckgd-red;
  border-radius: $border-radius;
  color: $label-red;
  font-weight: 700;

  @include tablet {
    height: $tablet-desktop-tag-h;
  }
}

/*button design mixins*/
@mixin blue-btn-white-text {
  background-color: $primary-indigo;
  color: $primary-white;
  border-radius: 1.25rem;
  border: 0.0625rem solid $primary-indigo;
  padding: 0 1rem;
}

@mixin white-btn-gray-border {
  background-color: $background-page;
  color: $secondary-slate;
  border-radius: 1.25rem;
  border: 0.0625rem solid $secondary-cloud;
  padding: 0 1rem;
}

//this is for the back btn/ other navigation btns
@mixin white-btn {
  background-color: $primary-white;
  border: 0.0625rem solid $primary-white;
  padding: 0;
}

//TODO: form validation designs?
//TODO: make hover state designs 
//TODO: and maybe the "secondary/long form" (Katarina I think has the designs for these) 

/*Form field mixins*/
@mixin form-active {
  border: 0.0625rem solid $primary-indigo;
}

@mixin error-text {
  @include p2;
  color: $label-red;
}

@mixin form-error {
  border: 0.0625rem solid $label-red;
}


/*divider mixins*/
@mixin divider-top {
  border-top: .0625rem solid $secondary-cloud;
}

@mixin divider-top--thick {
  border-top: .125rem solid $secondary-cloud;
}

@mixin divider-bottom {
  border-bottom: .0625rem solid $secondary-cloud;
}

@mixin divider-bottom-thick {
  border-bottom: .125rem solid $secondary-cloud;
}

@mixin divider-right {
  border-right: .0625rem solid $secondary-cloud;
}

@mixin divider-right-thick {
  border-right: .125rem solid $secondary-cloud;
}

@mixin divider-top-thick {
  border-top: .125rem solid $secondary-cloud;
}


/*flex-box mixins*/
@mixin flex-it ($wrap: nowrap, $justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}