@use 'variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

/*typography mixins*/
@mixin p1 {
  font-size: .9375rem;
  line-height: 1.625rem;
  font-family: 'Titillium Web', 'Times New Roman', Times, serif;
  font-weight: 400;
  color: $primary-black;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@mixin p2 {
  font-size: .8125rem;
  line-height: 1.25rem;
  font-family: 'Titillium Web', 'Times New Roman', Times, serif;
  font-weight: 400;
  color: $primary-black;

  @include tablet {
    font-size: .875rem;
    line-height: 1.375rem;
  }
}

/*page content mixin*/
@mixin page-content {
  padding: $mobile-margin;
  background-color: $primary-white;
  border-radius: 0.25rem;
  position: relative;
  top: -2rem;

  @include tablet {
    padding: $tablet-margin;
  }

  //TODO: include desktop if needed!
}


/*button design mixins*/
@mixin blue-btn-white-text {
  background-color: $primary-indigo;
  color: $primary-white;
  border-radius: 1.25rem;
  border: 0.0625rem solid $primary-indigo;
  padding: 0 1rem;
}

@mixin white-btn {
  background-color: $primary-white;
  border: 0.0625rem solid $primary-white;
  padding: 0;
}

/*divider mixins*/
@mixin divider-bottom {
  border-bottom: .0625rem solid $secondary-cloud;
}

@mixin divider-right-thick {
  border-right: .125rem solid $secondary-cloud;
}

@mixin flex-it ($wrap: nowrap, $justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}