$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$mobile-breakpoint: 47.9rem;
$primary-black: #13182C;
$primary-indigo: #2E66E5;
$primary-white: #FFFFFF;
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;
$background-header: #232940;
$background-page: #F7F8F9;
$label-green: #158463;
$label-red: #C94515;
$label-bckgd-green: #15846310;
$label-bckgd-red: #C9451510;

/*dimensions*/
$mobile-btn-h: 2.25rem;
$tablet-desktop-btn-h: 2.375rem;
$mobile-tag-h: 1.5rem;
$tablet-desktop-tag-h: 1.625rem;

/*standards: */
/*padding sizes*/
$mobile-margin: 1rem;
$tablet-margin: 2rem;
$desktop-margin: 3.9375rem;
$alt-mobile-margin: 1.5rem;

/*design-related*/
$border-radius: 1.25rem;