$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$primary-black: #13182C;
$primary-indigo: #2E66E5;
$primary-white: #FFFFFF;
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;
$background-header: #232940;
$background-page: #F7F8F9;
$label-green: #158463;
$label-red: #C94515;

/*dimensions*/
$mobile-btn-h: 2.25rem;
$tablet-desktop-btn-h: 2.375rem;

/*standard padding sizes*/
$mobile-margin: 1rem;
$tablet-margin: 2rem;
// $desktop-margin: 