@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.warehouses__header {
  display: flex;
  flex-wrap: wrap;
  padding: 0.9375rem 5%;
  margin: 2rem;
  font-family: "Titillium Web";

  @include tablet {
    align-items: center;
    justify-content: space-between;
    padding: 0.9375rem 2%;
    margin: 0;
  }
  &-title {
    font-weight: 600;
    color: $primary-black;
    margin: 0.75rem 0;

    @include tablet {
      margin: 0.625rem 0 0 0;
    }
  }
  &-container {
    width: 100%;

    @include tablet {
      width: 57%;
    }
    @include desktop {
      width: 48%;
    }
  }
  &-form {
    padding-bottom: 0.3125rem;
    width:100%;

    @include tablet {
      display: flex;
      height: 2.375rem;
      margin-top: 0.625rem;
      justify-content: flex-end;
    }
    &-search {
      background-image: url("../../assets/images/icons/search-24px.svg");
      background-repeat: no-repeat;
      background-position: 94%;
      border-radius: 1.25rem;
      border: 0.0625rem solid $secondary-cloud;
      padding: 0.4375rem 1rem;
      width: stretch;
      margin-bottom: 0.9375rem;
      font-family: "Titillium Web";
      width: 100%;

      &:focus {
        outline: none;
        border: 0.0625rem solid $primary-indigo;
      }

      @include tablet {
        margin: 0 0.9375rem 0 0;
        width: 50%;
      }
    }
    &-button {
      background-color: $primary-indigo;
      color: $primary-white;
      border-radius: 1.25rem;
      border: none;
      font-family: "Titillium Web";
      padding: 0 1rem;
      margin-bottom: 0.3125rem;
      height: 2.25rem;
      width: 100%;
      cursor:pointer;
      // display:block;

      @include tablet {
        height: 2.375rem;
        width: 10.3125rem;
      }
      &:hover {
        background-color: $primary-black;
      }
    }
  }
}
