@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

input {
    border-color: $secondary-cloud;
    border-style: .0625rem solid $secondary-cloud;

}

.error-message {
    border-color: $label-red;
    color: $label-red;
}

input.error {
    border-color: $label-red;
}

.details__name.error,
.details__description.error,
.details__category.error {
    border-color: $label-red;
}

.inventory-add {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $background-page;

        @include tablet {
            padding: 0 $tablet-margin;
        }
    }

    &__details {
        @include page-content;
        margin: $mobile-margin;
    }

    &__itemDetails {
        @include divider-top-thick;
        width: 100%;
        padding: $mobile-margin;

        &--header {
            padding-bottom: $mobile-margin;
        }
    }
}

.details {
    &__warehouse {
        padding: 0.5rem;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: $mobile-margin;
        padding-left: $mobile-margin;

        &:active,
        &:focus {
            border-color: $primary-indigo;
        }
    }

    &__street {
        padding: 0.5rem;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: $mobile-margin;
        padding-left: $mobile-margin;

        &:active,
        &:focus {
            border-color: $primary-indigo;
        }
    }

    &__city {
        padding: 0.5rem;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: $mobile-margin;
        padding-left: $mobile-margin;

        &:active,
        &:focus {
            border-color: $primary-indigo;
        }
    }

    &__country {
        padding: 0.5rem;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: $mobile-margin;
        padding-left: $mobile-margin;

        &:active,
        &:focus {
            border-color: $primary-indigo;
        }
    }

}