@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.clicker{
    display: flex;
    justify-content: space-evenly;
    background-color: $background-page;
    align-content: center;
    padding-top: 1rem;

    @include tablet {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-top:2rem;

    }

    &__cancel {
        @include white-btn-gray-border;
        padding: .5rem;
        padding-right: 3rem;
        padding-left: 3rem;
        margin-right: 1rem;

        &:active{
            color: $primary-indigo;
            border-color: $primary-indigo;
        }

        &:hover{
            color: $primary-indigo;
            border-color: $primary-indigo;
        }

        @include tablet {
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
    
    &__add{
        @include blue-btn-white-text;
        padding-right: 3rem;
        padding-left: 3rem;
        text-wrap: nowrap;

        &:active{
            background-color: $background-header;
        }

        &:hover{
            background-color: $background-header;
        }

        @include tablet {
            margin-left: .5rem;
            margin-right: 1rem;
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
    
}