@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__left {
        width: 100%;
        display: flex;
        gap: $mobile-margin;
    }

}