@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.page-header {
    @include divider-bottom;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__left {
        width: 100%;
        display: flex;
        padding-bottom: 1.5rem;
    }

}