@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

//FIXME: PADDING IS TOTALLY OFF, FIX AT THE END
.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $mobile-margin;

    @include tablet {
        padding-left: $tablet-margin;
        padding-right: $tablet-margin;
    }

    //TODO: come back to desktop margins/padding!
    // @include desktop {
    //     padding-left: $desktop-margin;
    //     padding-right: $desktop-margin;
    // }

    &__left {
        width: 100%;
        display: flex;
        gap: 0.25rem;
    }

    &:link,
    &:visited {
        text-decoration: none;
    }

}