@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.err {
    &__icon {
        height: 1rem;
        width: 1rem;
    }

    &__error-message {
        border-color: $label-red;
        color: $label-red;
        font-family: "Titillium Web";
    }
}

input.error {
    border-color: $label-red;
}

.details__name.error,
.details__description.error,
.details__category.error {
    border-color: $label-red;
}

.inventory-add {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $background-page;

        @include tablet {
            padding: 0 $tablet-margin;
        }
    }

    &__details {
        @include page-content;
        margin: $mobile-margin;
    }

    &__itemDetails {
        padding: $mobile-margin;
        @include divider-top-thick;
        width: 100%;

        &--header {
            padding-bottom: 1rem;
        }

    }

    &__itemAvail {
        padding: $mobile-margin;
        @include divider-top-thick;
        width: 100%;
        flex-shrink: 0;

        &--header {
            padding-bottom: $mobile-margin;
        }
    }

}

.details {
    &__name {
        padding: 0.5rem;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: $mobile-margin;
        padding-left: $mobile-margin;

        &:active,
        &:focus {
            border-color: $primary-indigo;
        }
    }

    &__description {
        padding: 0.5rem;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        padding-bottom: 5rem;
        margin-bottom: $mobile-margin;
        padding-left: $mobile-margin;

        &:active,
        &:focus {
            border-color: $primary-indigo;
        }
    }

    &__category {
        padding: 0.5rem;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: $mobile-margin;
        padding-left: $mobile-margin;
        color: $secondary-cloud;

        &:active,
        &:focus {
            border-color: $primary-indigo;
        }

    }
}