@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;



* {
  padding: 0;
  margin: 0;
  outline:none;
  box-sizing: border-box;
  overflow-x:hidden;
  
}

.navbar {
  display: flex;
  background-color: $background-header;

}