@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.warehouses {
  position: relative;
  top: -3rem;
  background-color: $primary-white;
  margin: 1rem;
  border: 1px solid rgba($background-page, 0.3);
  box-shadow: 0px 2px 4px rgba($primary-black, 0.1);
  border-top: none;

  &__name-wrapper {
    display: flex;
    align-items: center;
  }

  &__name {
    color: $primary-indigo;
    font-weight: 600;
    font-size: 0.8rem;
    padding-left: 1rem;
  }

  &__informations {
    padding-left:1rem;
  }

  &__name--icon {
    width: 1rem;
    height: 1rem;
  }

  &__item {
   
    padding: 1rem 0;
    border-top: 0.0938rem solid $secondary-cloud;


    @include tablet {
      @include flex-it(nowrap, space-between, normal, row);
      border-top: none;
      border-bottom: 0.0938rem solid $secondary-cloud;
      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: rgba($primary-indigo, 0.1);
      }
      
      
    }
   
  }

  &__text-box {
    @include flex-it(nowrap, flex-start, normal, row);

    @include tablet {
      width: 90%;
    }
  }

  &__column {
    @include flex-it(nowrap, flex-start, normal, column);
    width: 45%;

    @include tablet {
      @include flex-it(nowrap, flex-start, normal, row);
      width: 50%;
      gap: 0;
    }
  }

  &__mobile-header {
    display: flex;
    color: $secondary-slate;
    background-color: $primary-white;
    text-transform: uppercase;
    width: 100%;
    padding-left: 1.7rem;
    padding: 1rem;
    padding-bottom: 0.5rem;

    @include tablet {
      background-color: $background-page;
      display: none;
    }

    &--icon {
      display: none;

      @include tablet {
        margin-left: 0.5rem;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-top: 0.2rem;
      }
    }
  }

  &__mobile-header1 {
    display: flex;
    color: $secondary-slate;
    background-color: $primary-white;
    text-transform: uppercase;
    width: 100%;
    padding-left: 1.7rem;
    padding: 0.5rem 1rem;

    @include tablet {
      background-color: $background-page;
      font-size: 0.6rem;
    }

    &--icon {
      display: none;

      @include tablet {
        margin-left: 0.5rem;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-top: 0.2rem;
      }
    }
  }

  &__content {
    width: auto;
    box-sizing: border-box;
  

    &--short {
      @include tablet {
        width: 42%;
      }
    }

    &--long {
      @include tablet {
        width: 58%;
      }
    }
  }

  &__action {
    @include flex-it(nowrap, space-between, normal, row);

    @include tablet {
      width: 10%;
      justify-content: space-around;
      
    }
  }

  &__icon {
    padding-left: 1rem;
    height: 1.8rem;
    margin: 1rem 2rem 0 0;

    @include tablet {
      padding-left: 0rem;
      margin: 0rem 0.6rem 0 0;
    }

    @include desktop {
      margin: 1rem 2rem 0 0;
    }

    &:hover {
      cursor: pointer;
    }

    &-button {
      background: none;
      border: none;
      cursor: pointer;
      padding-left: 1rem;
      padding-right:1rem;
      @include tablet {
        padding-left: 0rem;
        padding-right: 0rem;
      }
    }
  }

  &__link {
    margin: 0;
    padding: 0;
    width: 1.8rem;
    display: inline-block;
  }

  &__item1 {
    border-bottom: 0.0938rem solid $secondary-slate;

    @include tablet {
      @include flex-it(nowrap, space-between, normal, row);
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      pointer-events: none;
    }
  }
}

.active1 {
  @include mobile {
    display: none;
  }
}

.header__appear {
  display: none;

  @include tablet {
    display: block;
  }
}

.warehouses__link {
  text-decoration: none;
  color: inherit;
}