@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;



input.error {
    border-color: $label-red;
}
.err {

    &__icon {
        height: 16px;
        width: 16px;
    }

    &__error-message{
        border-color: $label-red;
        color: $label-red;
        font-family: "Titillium Web";
    }


}

.details__contact.error,
.details__position.error,
.details__number.error {
  border-color: $label-red;
}


.details {
    &__contact{
        padding: 8px;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: 1rem;
        padding-left: 16px;
        &:active{
            border-color: $primary-indigo;
        }
    }

    &__position{
        padding: 8px;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: 1rem;
        padding-left: 16px;
        &:active{
            border-color: $primary-indigo;
        }
    }
    &__number{
        padding: 8px;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: 1rem;
        padding-left: 16px;
        &:active{
            border-color: $primary-indigo;
        }
    }
    &__email{
        padding: 8px;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: 1rem;
        padding-left: 16px;
        &:active{
            border-color: $primary-indigo;
        }
    }

}