@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    background-color: $background-page;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__text{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

    }
}