@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.err {
    &__icon {
        height: 1rem;
        width: 1rem;
    }

    &__error-message {
        border-color: $label-red;
        color: $label-red;
        font-family: "Titillium Web";
    }
}

input.error {
    border-color: $label-red;
}

.availability__quantity.error,
.availability__warehouse.error {
    border-color: $label-red;
}

.availability {
    display: flex;
    flex-direction: column;

    &__quantity {
        padding: 0.5rem;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: $mobile-margin;
        padding-left: $mobile-margin;

        &:active,
        &:focus {
            border-color: $primary-indigo;
            color: $primary-black;
        }
    }

    &__warehouse {
        padding: 0.5rem;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: $mobile-margin;
        color: $secondary-cloud;
        padding-left: $mobile-margin;

        &:active,
        &:focus {
            border-color: $primary-indigo;
        }
    }

    &__status {
        display: flex;
        width: 100%;
        font-family: 'Titillium Web';
        color: $secondary-cloud;
        padding-bottom: $mobile-margin;

        &:active,
        &:focus {
            border-color: $primary-indigo;
        }

        &--in {
            display: flex;
            justify-content: flex-start;
            padding-left: .5rem;
            padding-right: 8rem;

            &:active,
            &:focus {
                border-color: $primary-indigo;
                color: $primary-black;
            }

            &::before {
                color: $secondary-slate;
            }

            @include tablet {
                padding-right: 5rem;
            }
        }

        &--out {
            display: flex;
            justify-content: flex-end;
            padding-left: .5rem;

            &:active,
            &:focus {
                border-color: $primary-indigo;
                color: $primary-black;
            }
        }
    }
}