@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
.err {

    &__icon {
        height: 16px;
        width: 16px;
    }

    &__error-message{
        border-color: $label-red;
        color: $label-red;
        font-family: "Titillium Web";
    }


}

input.error {
    border-color: $label-red;
}

.availability__quantity.error, .availability__warehouse.error {
  border-color: $label-red;
}
.availability {
    display:flex;
    flex-direction: column;


    &__quantity{
        padding: 8px;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: 1rem;
        padding-left: 16px;
        &:active{
            border-color: $primary-indigo;
        }
    }
    &__warehouse{
        padding: 8px;
        border-radius: $border-radius;
        border-color: $secondary-cloud;
        margin-bottom: 1rem;
        color: $secondary-cloud;
        padding-left: 16px;
        &:active{
            border-color: $primary-indigo;
        }

    }

    &__status{
        display: flex;
        width: 100%;
        font-family: 'Titillium Web';
        color: $secondary-cloud;
        padding-bottom: 1rem;

        &:active{
            border-color: $primary-indigo;
        }



        &--in{
            display:flex;
            justify-content: flex-start;
            padding-left: .5rem;
            padding-right: 8rem;



            &:active{
                color: $primary-black;
            }

            &::before{
                color:$secondary-slate;
            }

            &:active{
                border-color: $primary-indigo;
            }

            @include tablet{
                padding-right: 5rem;
            }
        }
        &--out{
            display: flex;
            justify-content: flex-end;
            padding-left: .5rem;

            &:active{
                color: $primary-black;
            }

            &:active{
                border-color: $primary-indigo;
            }
        }
    }
}